/* Header image */

.header {
	width: 100%;
	max-height: 50px;
	min-height: 40px;
	background-color: skyblue;
}

.header .image{
	height: 70px;
	width: 70px;
	margin-left: 47%;
	margin-bottom: -20px;
}












@media screen and (max-width: 900px) {
   .header {
	width: 100%;
	min-height: 40px;
	background-color: green;
}


}