body{
	background-color: #F9F9F9;
}

.container{
	margin-top: 30px;
}

.input_form{
	background-color: white;
	padding: 20px;
	margin-top: 10px;
}


.head_row{
	color: skyblue;
}

.head_row img{
	width: 100%;
	padding-top: 20px;
}
.head_row h3{
	padding-top: 10px;

}

.head_row span{
	font-size: 15px;
}